*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --box-sh: 0px 2px 20px rgba(1, 41, 112, 0.1);
  --bg-color: #F6F9FF;
  --prag-color: #0D6EFD;
  --msg-color: #777;
  --heading-color:  #022441;
  --wh-color: #Fff;
  --org-color: #FFECDF;
  --green-color: #E0F8E9;
  --main-transition: .5s;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  background-color: var(--bg-color);
}
/* ------------------------------------------------------------------------ */
/* nav */
nav{
  box-shadow: var(--box-sh);
  background-color: var(--wh-color);
  position: fixed;
  z-index: 6666666;
  width: 100%;
}
nav img{
  width: 50px;
}

nav h2, nav h6{
  color: var(--heading-color);
}

nav svg{
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
nav .prs-icon ,nav .prs-icon-2{
  position: relative;
}
nav .prs-icon ,nav .prs-icon-2, nav .prs-img{
  cursor: pointer;
}
nav .prs-icon span ,nav .prs-icon-2 span{
  position: absolute;
  top: -18px;
  right: -18px;
  padding: 2px 10px;
  border-radius: 10px;
  display: flex;
}

nav .dropdown-menu{
  position: absolute;
  top: 85%;
  right: 3%;
}

nav .dropdown-menu h4,nav .dropdown-menu-msg h4{
  color: var(--heading-color);
}

nav .dropdown-menu p, nav .dropdown-menu-msg h4{
  color: var(--msg-color);
}

nav .profile a{
  color: var(--msg-color);
}

.show{
  display: block;
}
/* --------------------------------------------------------------------- */
/* dashboard-content */
.dashboard-content{
  height: 100vh;
  /* width: 350px; */
  /* width: 90%; */
}

.dashboard-menu{
  width: 75%;
  background-color: var(--wh-color);
  height: 100vh;
  padding: 30px 0;
  margin-top: 60px;
  margin-left: -100%;
 transition: var(--main-transition);
 }
@media(min-width: 992px) {
  .dashboard-menu{
    width: 30%;
  }
}

@media(min-width: 992px) {
  .dashboard-menu .nav-item .nav-link svg:first-child, .page{
    margin-left: 35px;
  }
}



.nav-item .nav-link {
  font-weight: bold;
  color: var(--msg-color);
  font-size: 20px;
}

.nav-item .nav-link:hover{
  color: var(--prag-color);
  cursor: pointer;
}

/* .dashboard-content .dashboard-menu .dashboard-item ul{
  display: none;
} */

.nav-item .nav-content li a{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
   color: var(--msg-color);
  transition: var(--main-transition);
}

.nav-item .nav-content li a:hover{
  color: var(--prag-color);
}

.page h3{
  color: #4d4b4b;
}

.hide-dashboard-content{
  /* display: none; */
  margin-left: 0;
}

