*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #F6F9FF;
  --prag-color: #0D6EFD;
  --heading-color:  #022441;
  --wh-color: #F7F9FC;
  --org-color: #FFECDF;
  --green-color: #E0F8E9;
  --main-transition: .5s;
}
/* ------------------------------------------------------------------------ */
/* nav */
nav img{
  width: 40px;
}

nav svg{
  cursor: pointer;
}